@import "common/_common";
@import "common/_select";

.we-settings-in {
  min-height: 300px;
  margin-bottom: 60px;
  padding: 10px 50px;
}

.we-edit-form {
  min-width: 654px;
}

.we-what-else {
  margin-top: 30px;
}